.table {
  border-collapse: separate;
  border-spacing: 3px;
  table-layout: fixed;
  width: unset;
}

.head {
  padding: 0;
}

.cell {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  border: 0.5px solid #1f23280d;
  border-radius: 2px;
  padding: 0;
}
